
h1 {
  padding: 2rem 0;
  text-align: center;
  color: wheat;
  font-weight: bold;
  font-size: xx-large;
}
.enterlink {
  text-align: center;
}
#addrepo {
  width: 50%;
  padding: 5px;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
}
.addlink {
  padding-top: 1rem;
  text-align: center;
}
#addrepolink {
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 10px;
}
.coloumns {
  margin: 3rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
}

h2 {
  text-align: center;
  border-bottom: solid 2px white;
  color: white;
}
p {
  margin: 10px;
  text-align: center;
  color: white;
}
.rules {
  margin: 0 auto;
}
.list {
  margin: 0 auto;
}
#links {
  font-size: small;
}
#removebtn {
  text-align: right;
  margin-top: 10px;
}
label {
  margin: 10px;
  font-size: 13px;
  color: white;
}
.assess {
  text-align: center;
}
.assess-btn {
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: white;
  position: relative;
  cursor: pointer;
}
.assess-btn:hover {
  border: 2px solid white;
  background: #f44336;
  color: white;
  transition: 0.5s;
}
.savebtn{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}


