*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
p,h1,label{
  color: white;

}
#hint_id_username,#hint_id_password2,li{
  color: rgb(234, 231, 231) !important;
}
