{% extends "base.html" %}
{% load static %}
    {% block head%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}" />
    {%endblock head%}
    {%block content%}
    <section class="header">
      <div class="title">
        <h1>Git Assessor</h1>
      </div>

      <div class="enterlink">
        <input type="text" id="addrepo" placeholder="Enter Repository Link" />
      </div>
      <div class="addlink">
        <input
          type="button"
          id="addrepolink"
          value="Add"
          onclick="addToList()"
        />

      </div>
      
      <div class="coloumns">
        <div class="rules">
          <h2>Rules</h2>
          <p>-Choose your rules-</p>
          {% for key,value in rules.items%}
            {%if value in user_rules %}
              <input
              class="cbx"
              type="checkbox"
              id={{value}}
              name={{value}}
              value={{value}}
              checked
              />
            {%else%}
              <input
              class="cbx"
              type="checkbox"
              id={{value}}
              name={{value}}
              value={{value}}
              />
            {%endif%}
            <label for={{value}}>{{key}}</label><br />

          {%endfor%}
          {% if user.is_authenticated%}
            <form method="POST" >
              {% csrf_token %}
              <div class="savebtn">
              <input type="text" name="chkbox" id="chkbox" hidden/>
              <input type="submit" id="sub" value="Save" onclick="savechk()"/>
            </div>
            </form>
          {%endif%}


        </div>
        <div class="list">
          <h2>Repository Links</h2>
          <p>-Choose Repo links to remove-</p>
          <div id="links"></div>
          <div id="removebtn">
            <input
              type="button"
              id="removerepolink"
              value="Remove"
              style="display: none"
              onclick="removeRepo()"
            />
          </div>
        </div>
      </div>
      
      <div class="assess">
        <input
          type="submit"
          class="assess-btn"
          onclick="valueSender()"
          value="Assess"
        />
      </div>

    </section>
  {% endblock content %}
  {%block js%}
  <script src="{% static 'js/homejspage.js' %}">
   
  </script>
  {%endblock js%}
